# Core Data Processing
pandas
numpy

# Database
SQLAlchemy
PyMySQL

# API & Web Scraping
requests
beautifulsoup4

# Dashboard
streamlit
plotly

# AWS (Optional)
boto3

# Data Quality
great-expectations

# Orchestration
apache-airflow

# Testing
pytest

# Misc
python-dotenv
